*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    transition: 0.4s;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #260401;
}

h1 {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
}

a>img {
    width: 3em;
    height: 3.5em;
}

a {
    text-decoration: none;
    color: #260401;
}

a:hover svg {
    fill: #FEECD6;
    transition: 10ms;
}

.div-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    border-radius: 8px;
    padding: 8px;
    color: #260401;
    font-weight: bold;
    font-size: 1em;
}

.nav-link:hover {
    transition: 0.5s;
    background-color: #260401;
    color: white;
}

header {
    background-color: #FEECD6;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6em;
    gap: 1em;
}

header>#barra-pesquisa {
    position: relative;
    flex-grow: 1;
    /* Permite que o campo de pesquisa cresça */
    max-width: 20%;
}

header>#barra-pesquisa>i {
    color: #260401;
    background-color: rgba(255, 0, 0, 0.062);
    padding: 0.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

header>#barra-pesquisa>i:hover {
    border-radius: 0.5em;
    background-color: #8C7B65;
    cursor: pointer;
}

header>#barra-pesquisa>input {
    padding-left: 2.5em;
    border: 0.5px solid #260401;
    border-radius: 8px;
    height: 2.5em;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header>nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

header>nav>#nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
}

main {
    flex: 1;
    margin: 0;
    padding: 0;
}

footer {
    height: 5em;
}

section#banner {
    position: relative;
    width: 100%;
    padding: 8em 6em;
}

section#banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/saboresdahoraimg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

section#banner>#banner-content {
    width: 70%;
    position: relative;
    z-index: 1;
}

#btn-pedido {
    color: white;
    background-color: #260401;
    padding: 0.5em;
    border: 2px solid white;
    font-weight: 900;
}

#btn-pedido:hover {
    transition: 0.2s;
    background-color: white;
    border-color: #260401;
    color: #260401;
    cursor: pointer;
}

section#oquefazemos {
    color: #FEECD6;
    background-color: #260401;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 4em;
}

#container-oquefazemos {
    color: #FEECD6;
    display: flex;
    flex-flow: row wrap;
    gap: 8em;
    justify-content: center;
    padding: 2em;
}

.container-geral-com-imagem {
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 10em;
    height: 10em;
}

section#container-produtos {
    background-color: #FEECD6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section#container-produtos>#produtos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section#contato {
    color: #FEECD6;
    padding: 2em;
    background-color: #260401;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-inputs {
    display: flex;
}

.div-input {
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.div-input > #comentario{
    max-width: 100%;
}
#btn-form-contato {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-form-contato>input {
    width: 10em;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    color: #8C7B65;
    background-color: #FEECD6;
}

#btn-form-contato>input:hover {
    color: #FEECD6;
    background-color: #8C7B65;
}

footer {
    color: #260401;
    background-color: #FEECD6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6em;
}

footer>#icons-footer {
    color: #260401;
    display: flex;
    gap: 0.5em;
}

@media (max-width: 779px) {
    .nav-link {
        color: #260401;
        font-size: 1em;
    }

    header {
        height: 10em;
        display: block;
        padding: 0 3em;
    }

    section#banner {
        padding: 3em 3em;
    }

    header>#barra-pesquisa {
        min-width: 100%;
    }

    footer {
        padding: 0 3em;
    }
}

@media (max-width: 549px) {
    header {
        padding: 0;
    }
    .container-inputs {
        flex-direction: column;
    }
}

@media (max-width: 453px) {
    header {
        height: 18em;
    }

    header>nav {
        display: flex;
        flex-direction: column;
    }

    header>nav>#nav {
        margin-top: -2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header>#barra-pesquisa {
        min-width: 100%;
    }
}